<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <div class="container">

            <h1 class="text-center text-dark pt-5">MONSTER SLAYER</h1>
            <h4 class="text-center text-secondary pb-5">Prepare yourself for an epic battle</h4>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <section class="card mt-3">
                        <div class="card-header">
                            <h3 class="text-center text-dark">MONSTER HEALTH</h3>
                        </div>
                        <div class="card-body">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    :style="{width: monsterHealth + '%'}"></div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-6 col-sm-12">
                    <section class="card mt-3">
                        <div class="card-header">
                            <h3 class="text-center text-dark">YOUR HEALTH</h3>
                        </div>
                        <div class="card-body">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                    :style="{width: playerHealth + '%'}"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <section class="card mt-3" v-if="winner">
                <h1 class="text-center text-dark">GAME OVER!</h1>
                <h3 v-if="winner === 'monster'" class="text-center text-dark">YOU LOST!</h3>
                <h3 v-else-if="winner === 'player'" class="text-center text-dark">YOU WON!</h3>
                <h3 v-else class="text-center text-dark">IT'S A DRAW!</h3>
                <button class="btn btn-primary" @click="reset">NEW GAME</button>
            </section>

            <section class="card mt-3" v-else>
                <div class="card-body d-flex justify-content-center">
                    <button class="btn btn-primary mr-2" @click="attackMonster">ATTACK</button>
                    <button class="btn btn-primary mr-2" :disabled="enableSpecialAttack" @click="specialAttack">SPECIAL
                        ATTACK</button>
                    <button class="btn btn-primary mr-2" @click="healPlayer">HEAL</button>
                    <button class="btn btn-primary mr-2" @click="surrender">SURRENDER</button>
                </div>
            </section>

            <section class="card mt-3">
                <div class="card-header">
                    <h3 class="text-center text-dark">BATTLE LOG</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li v-for="currentlyMessage in logMessages" :key="currentlyMessage">
                            <span class="badge" :class="currentlyMessage.actionBy === 'monster' ? 'badge-danger' : 'badge-primary'">{{ currentlyMessage.actionBy }} - {{ currentlyMessage.actionType }} - {{
                                currentlyMessage.actionValue }}</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const { createApp, ref, computed, watch } = Vue

        const getDamage = (min, max) => {
            if ((max - min) > 0) {
                return Math.floor(Math.random() * (max - min)) + min
            }
        }

        const getHealValue = getDamage

        createApp({
            setup() {
                const monsterHealth = ref(100)
                const playerHealth = ref(100)
                const round = ref(0)
                const winner = ref(null)
                const logMessages = ref([])

                const attackMonster = () => {
                    const attackValue = getDamage(1, 8)
                    monsterHealth.value -= attackValue
                    round.value++

                    addLogMessage('player', 'attack', attackValue)
                    attackPlayer()
                }

                const attackPlayer = () => {
                    const attackValue = getDamage(1, 10)
                    playerHealth.value -= attackValue

                    addLogMessage('monster', 'attack', attackValue)
                }

                const specialAttack = () => {
                    const attackValue = getDamage(1, 13)
                    monsterHealth.value -= attackValue
                    round.value++

                    addLogMessage('player', 'attack', attackValue)
                    attackPlayer()
                }

                const healPlayer = () => {
                    const healValue = getHealValue(1, 6)

                    if (playerHealth.value + healValue > 100) {
                        playerHealth.value = 100

                    } else {
                        playerHealth.value += healValue
                    }

                    addLogMessage('player', 'heals', healValue)
                    attackPlayer()
                }

                const reset = () => {
                    playerHealth.value = 100
                    monsterHealth.value = 100
                    round.value = 0
                    winner.value = null
                    logMessages.value = []
                }

                const surrender = () => {
                    addLogMessage('player', 'surrenders', 0)
                    winner.value = 'monster'
                }

                const addLogMessage = (who, what, value) => {
                    logMessages.value.unshift({
                        actionBy: who,
                        actionType: what,
                        actionValue: value
                    })
                }

                const enableSpecialAttack = computed(() => {
                    return round.value % 3 !== 0
                })

                watch(playerHealth, (value) => {
                    if (value <= 0 && monsterHealth.value <= 0) {
                        winner.value = 'draw'

                    } else if (value <= 0) {
                        winner.value = 'monster'
                    }
                })

                watch(monsterHealth, (value) => {
                    if (value <= 0 && playerHealth.value <= 0) {
                        winner.value = 'draw'

                    } else if (value <= 0) {
                        winner.value = 'player'
                    }
                })

                return {
                    monsterHealth,
                    playerHealth,
                    winner,
                    logMessages,

                    attackMonster,
                    specialAttack,
                    healPlayer,
                    reset,
                    surrender,
                    enableSpecialAttack
                }
            }
        }).mount('#app')
    </script>
</body>

</html>